<a href="https://colab.research.google.com/github/Redwoods/Lec/blob/master/simulation/code/notebook/ch2_exercises_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch2_exercises.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [0]:
# [Q1] Code-1
print("첫번째 방법")

average=(80+75+55)//3
print("평균점수는{0}점입니다".format(average))

첫번째 방법
평균점수는70점입니다

In [0]:
# [Q1] Code-2
print("두번째 방법: list 이용")

scores=[80,75,55]
print("평균점수는{0}점입니다".format(sum(scores)/len(scores)))

두번째 방법: list 이용
평균점수는70.0점입니다

In [0]:
# [Q1] Code-3
print("세번째 방법: dictionary  이용")

scores={"국어":80, "영어":75, "수학":55}
print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores)))

세번째 방법: dictionary  이용
평균점수는70.0점입니다

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

### 판별 기준
- number % 2 == 0  # even
- number % 2 != 0  #  odd

In [0]:
# [Q2] Code

if 13%2==0:
    print("13은 짝수")
else:
    print("13은 홀수")

13은 홀수

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [0]:
# [Q3] Code-1
print("첫번째 방법")

ssn="881120-1068234"  # ssn : Social Security Number
print(ssn[0:6])
print(ssn[7:])

첫번째 방법
881120
1068234

In [0]:
# [Q3] Code-2
print("두번째 방법")

ssn="881120-1068234"
ssn_list = ssn.split("-")
print(ssn_list[0])
print(ssn_list[1])

두번째 방법
881120
1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [0]:
# [Q4] Code-1
print("첫번째 방법")
pin = "881120-1068234"

if pin[7:8]=="1":
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 남자입니다".format(pin[7:8]))
else:
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 여자입니다".format(pin[7:8]))

첫번째 방법
주민등록번호 뒷자리의 맨 첫 번째 숫자가 1이므로 남자입니다

In [0]:
# [Q4] Code-2
print("두번째 방법")
pin = "881120-1068234"
pin_list=pin.split("-")
print(type(pin_list[1][0]), pin_list[1][0])

if pin_list[1][0]=='1':
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 남자입니다".format(pin_list[1][0]))
else:
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 여자입니다".format(pin_list[1][0]))

두번째 방법
<class 'str'> 1
주민등록번호 뒷자리의 맨 첫 번째 숫자가 1이므로 남자입니다

In [0]:
# [Q4] Code-3
print("세번째 방법")
pin = "881120-1068234"
pin_list=pin.split("-")
print(pin_list[1][0],type(pin_list[1][0]))

gender = {'1':'남자', '2':'여자'}
if pin_list[1][0]=='1':
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 {1}입니다".format((pin_list[1][0]), gender[pin_list[1][0]]))
else:
    print("주민등록번호 뒷자리의 맨 첫 번째 숫자가 {0}이므로 {1}입니다".format((pin_list[1][0]), gender[pin_list[1][0]]))

세번째 방법
1 <class 'str'>
주민등록번호 뒷자리의 맨 첫 번째 숫자가 1이므로 남자입니다

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [0]:
# [Q5] Code-1
print("첫번째 방법")
a="a:b:c:d"
print(a[0:1]+"#"+a[2:3]+"#"+a[4:5]+"#"+a[-1:])

첫번째 방법
a#b#c#d

In [0]:
# [Q5] Code-2
print("두번째 방법")
a="a:b:c:d"
print(a.replace(":","#"))

두번째 방법
a#b#c#d

## Q6.
> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [0]:
# [Q6] Code-0
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)
# [5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [0]:
a

[2, 4, 5, 3, 1]

In [0]:
# [Q6] Code-1
print("첫번째 방법")
a=[1,3,5,4,2]
a.sort()

print(a[::-1])

첫번째 방법
[5, 4, 3, 2, 1]

In [0]:
# [Q6] Code-2
print("두번째 방법")
a=[1,3,5,4,2]
a.sort()
a=[1,3,5,4,2]
a.sort(reverse=True)
print(a)

두번째 방법
[5, 4, 3, 2, 1]

## Q7.
> ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [0]:
# [Q7] Code-1
print("첫번째 방법")
str1=['Life', 'is', 'too', 'short']
print(str1[0],str1[1],str1[2],str1[-1])

첫번째 방법
Life is too short

In [0]:
# [Q7] Code-2
print("두번째 방법")
str1=['Life', 'is', 'too', 'short']
str1=" ".join(str1)
print(str1)

두번째 방법
Life is too short

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [0]:
# [Q8] Code-1
print("첫번째 방법")
t1=(1,2,3)
t1+=(4,)
print(t1)

첫번째 방법
(1, 2, 3, 4)

In [0]:
# [Q8] Code-2
print("두번째 방법")
t1=(1,2,3)
li=list(t1)
li.append(4)
t1=tuple(li)
print(t1)

두번째 방법
(1, 2, 3, 4)

In [0]:
# [Q8] Code-2
print("세번째 방법")
t1=(1,2,3)
t1.add(4)
print(t1)

세번째 방법

AttributeError: ignored

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [0]:
# [Q9] Code & explanation
a=dict()
print(a,type(a))

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'

{} <class 'dict'>

TypeError: ignored

### Q9. [설명]
> 딕셔너리의 키값은 변하지 않는 값만 쓸수있다. 그런데 리스트는 가변형 이므로 키값에 리스트를 쓸 경우 오류가 발생한다. 
- 따라서 키값에 리스트를 쓴 3번이 답이다.

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [0]:
# [Q10] Code-1
print("첫번째 방법")
a = {'A':90, 'B':80, 'C':70}
print(a['B'])

첫번째 방법
80

In [0]:
# [Q10] Code-2
print("두번째 방법")
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))
# print(a)

두번째 방법
80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [0]:
# [Q11] Code-1
print("첫번째 방법")
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a=set(a)
a=list(a)
print(a)

첫번째 방법
[1, 2, 3, 4, 5]

In [0]:
# [Q11] Code-2
print("두번째 방법")
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a.remove(1)
a.remove(1)
a.remove(2)
a.remove(3)
a.remove(3)
a.remove(4)
print(a)

두번째 방법
[1, 2, 3, 4, 5]

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = [1, 2, 3]  
>> a[1] = 4  
>> print(b)

In [0]:
# [Q12] Code & explanation
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

### 12. [설명]
> a와 b, 모두 동일한 리스트인 [1,2,3]을 공유하고 있으며 같은 주소 id를 가진다.
> 같은 값을 공유한 두 리스트 변수를 각각 변경하는 방법은 다음 2가지가 있다.
- b = a[:]
- b = a.copy()
>> 위의 두 경우에는 a, b는 다른 id를 가진다.

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch2_exercises_id.ipynb